.row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 20px;
  background-color: darkgray;
  border: 1px solid #000000;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    background-color: bisque;
  }

  &-main {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  &-btn {
    padding: 10px 20px;
    background-color: darkgray;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 100px;

    &:hover {
      cursor: pointer;
      background-color: bisque;
    }
  }
}